@import "tailwindcss";
body{
  font-family: 'Poppins', sans-serif;
}



html, body {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4e54c8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a6ff2;
}